/* CONTAINER
------------------------------------------------------- */
.container { margin: 0 auto 20px; width: 960px; }

/* COLUMN
------------------------------------------------------- */
.column { display: inline; float: left; margin: 0 10px; }

/* GRID-0
------------------------------------------------------- */
.grid-0 { width: 960px; }

/* GRID-1
------------------------------------------------------- */
.grid-1 { width: 640px; }

/* GRID-2
------------------------------------------------------- */
.grid-2 { width: 580px; }

/* GRID-3
------------------------------------------------------- */
.grid-3 { width: 360px; }

/* GRID-4
------------------------------------------------------- */
.grid-4 { width: 300px; }

/* GRID-5
------------------------------------------------------- */
.grid-5 { width: 310px; }

/* GRID-6
------------------------------------------------------- */
.grid-6 { width: 280px; }

/* GRID-7
------------------------------------------------------- */
.grid-7 { width: 170px; }

/* ALPHA
------------------------------------------------------- */
.alpha { margin-left: 0; }

/* OMEGA
------------------------------------------------------- */
.omega { margin-right: 0; }

/* SIGMA
------------------------------------------------------- */
.sigma { float: left; }

/* DELTA
------------------------------------------------------- */
.delta { float: right; }