/* LAYOUT
------------------------------------------------------- */
#wrapper { margin-bottom: 0; overflow: hidden; }

/* HEADER
------------------------------------------------------- */
#header #site-title { margin: 25px 0 0; }
/* #header #site-title a { font: italic 35px/26px Georgia, Times, "Times New Roman", serif; } */
#header #site-description { font: 14px/35px Georgia, Times, "Times New Roman", serif; }
#header #site-feed { float: right; }
#header #site-feed a { display: block; height: 42px; text-indent: -9999px; width: 52px; }
#header #site-email { float: right; }
#header #site-email a { display: block; height: 42px; text-indent: -9999px; width: 43px; }
.ie6 #header #site-feed, .ie6 #header #site-email { margin: 26px 0 0; }
.ie7 #header #site-feed, .ie7 #header #site-email { margin: 26px 0 0; }

/* PAGE NAVIGATION
------------------------------------------------------- */
#page-menu { float: left; height: 34px; margin: 10px 0 0; padding: 14px 14px 0; text-transform: uppercase; width: 932px; z-index: 9999; }

* html #page-menu {
display: block;
height: 60px;
padding: 5px 14px 0;
}


.sf-menu .current_page_item a, .sf-menu .current_page_ancestor a, .sf-menu .current_page_parent a { text-decoration: underline; }
.ie6 #page-menu { margin-bottom: -20px; }
.ie7 #page-menu { margin-bottom: -20px; }

/* PORTFOLIO POSTS
------------------------------------------------------- */
#portfolio-wrapper .portfolio-image { float: left; margin: 23px 20px 28px 25px; }
#portfolio-wrapper .entry-title { padding: 19px 0 0; }
#portfolio-wrapper .entry-content { padding: 0 22px 0; }
#portfolio-wrapper .controls { margin: 18px 0 0; float: left; }
#portfolio-wrapper .next-button { float: left; height: 36px; text-indent: -9999px; width: 64px; }
#portfolio-wrapper .view-portfolio { float: left; height: 36px; margin: 0 14px 5px 0px; text-indent: -9999px; width: 195px; }

#portfolio-wrapper .find-out-more { float: left; height: 36px; margin: 0 14px 0 0; text-indent: -9999px; width: 179px; }

#portfolio-wrapper .previous-button { float: left; height: 36px; text-indent: -9999px; width: 64px; }
.ie6 #portfolio-wrapper .portfolio-image { margin: 23px 20px 10px 25px; }
.ie7 #portfolio-wrapper .portfolio-image { margin: 23px 20px 10px 25px; }

/* GLOBAL BLOG POSTS
------------------------------------------------------- */
.hentry { margin: 30px 0 25px 25px; padding: 0; }
.hentry .thumb { float: left; margin: 0 12px 20px 0; }
.hentry .byline { display: inline; padding: 8px 10px; position: relative; top: 4px; }
.hentry .entry-content { margin: 15px 0 0; }
.hentry .page-link-title { padding: 8px 12px 8px 10px; }
.hentry .page-link { margin: 0 0 18px; padding: 5px 0 0; word-spacing: 6px; }
.hentry .page-link a { font-weight: 400; padding: 8px 12px 8px 10px; }
.hentry .searchform input { margin: 5px 5px 10px; width: 585px; }
.hentry #post-details { margin: 0 0 6px; text-transform: uppercase; }
.hentry #post-details .post-date { margin: 0 6px 0 0; padding: 0 5px 0 0; }
.hentry #post-details .preview-link { margin: 0 6px 0 0; padding: 0 5px 0 0; }

/* STICKY BLOG POST
------------------------------------------------------- */
.sticky { padding: 15px 25px; }

/* HOME BLOG POSTS
------------------------------------------------------- */
.home .hentry { margin: 30px 0 0 25px; }
.home .hentry .entry-title { margin: 0 0 15px; }
.home .hentry .entry-excerpt { font-style: italic; }
.home #blog-category-link a { display: block; float: right; height: 35px; margin: 20px 0 20px; text-indent: -9999px; width: 195px; }

/* SINGLE BLOG POST
------------------------------------------------------- */
.single .entry-title { margin: 18px 0 0 25px; padding: 0 0 10px; }
.single .hentry { margin: 0 0 0 25px; padding: 0 0 10px; }
.single .hentry .screen { margin: 15px 0 0; }
.single .hentry .page-link { margin: 15px 0 25px; padding: 4px 0; text-align: center; word-spacing: 6px; }
.single .hentry .page-link a { font-weight: 400; padding: 8px 12px 8px 10px; }
.single .hentry .entry-meta { margin: 20px 0 0; padding: 10px 0 0; }
.single .hentry .searchform input { margin: 5px 0 10px; width: 585px; }
.single #post-details { padding: 0 0 6px; }

/* BLOG NAVIGATION
------------------------------------------------------- */
.nav-newer a { display: block; height: 35px; margin: 30px 0 20px; text-indent: -9999px; width: 132px; }
.nav-previous a { display: block; height: 35px; margin: 30px 0 20px 25px; text-indent: -9999px; width: 132px; }

/* SOCIAL BOOKMARKS
------------------------------------------------------- */
#social-wrapper { margin: 10px 0 15px 25px; padding: 0 0 42px; position: relative; }
#social-wrapper a { margin: 0 15px 10px 0; }
#social-wrapper .social-title { float: left; margin: 5px 0 0; }
#social-wrapper #social-bookmarks { position: absolute; right: -12px; }
#social-wrapper .blinklist { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .delicious { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .digg { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .facebook { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .google { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .reddit { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .rss { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .stumbleupon { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .technorati { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }
#social-wrapper .twitter { display: block; float: left; height: 32px; text-indent: -9999px; width: 32px; }

/* RELATED POSTS
------------------------------------------------------- */
#related-wrapper { float: left; margin: 0 0 0 10px; padding: 14px 0 0 16px; width: 295px; }
#related-wrapper .related-title h3 { margin: 0 0 8px; }
#related-wrapper ul li { margin: 5px 0 5px; }

/* POPULAR POSTS
------------------------------------------------------- */
#popular-wrapper { float: right; padding: 14px 0 0; width: 295px; }
#popular-wrapper .popular-title h3 { margin: 0 0 8px; }
#popular-wrapper ul li { margin: 5px 0 5px; }

/* POST ZERO / 404
------------------------------------------------------- */
#post-0 { border: 0; padding: 0; }
#post-0 .no-data { margin: 0 0 0 5px; }
.search-no-results #post-0 { padding: 0; }

/* POST META
------------------------------------------------------- */
.youtube-embed, .vimeo-embed { margin: 20px 0 -6px; }
.single .youtube-embed, .single .vimeo-embed { margin: 20px 0 -6px; }

/* PROTECTED POST
------------------------------------------------------- */
.protected input { margin: 2px 0 5px; }

/* PAGES
------------------------------------------------------- */
.page-title { margin: 20px 0 20px 25px; padding: 0 0 15px; }
.page-title .subscribe a { display: block; height: 26px; text-indent: -9999px; width: 26px; }
.ie6 .page-title .subscribe a { position: relative; top: -40px; }
.ie7 .page-title .subscribe a { position: relative; top: -40px; }
.page .hentry { margin: 15px 0 0 25px; }
.page .edit-page-link a { display: block; height: 35px; margin: 20px 0 30px; text-indent: -9999px; width: 66px; }

/* CONTACT PAGE
------------------------------------------------------- */
#contact .error { margin: 0 0 25px; width: 589px; }
#contact .thanks { padding: 18px 20px 10px; }
#contact .name-error { float: right; margin: 0 8px 5px; }
#contact .name-label { float: left; margin: 0 0 5px; }
#contact .email-error { float: right; margin: 20px 8px 5px; }
#contact .email-label { float: left; margin: 20px 0 5px; }
#contact .message-error { float: right; margin: 20px 8px 5px; }
#contact .message-label { float: left; margin: 20px 0 5px; }
#contact .form-honeypot { left: -9999px; margin: 20px 0; position: absolute; top: -9999px; }
#contact .form-honeypot label { display: block; margin: 0 0 5px; }
#contact .form-input input { width: 595px; }
#contact textarea { width: 595px; }
#contact .form-submit { padding: 10px 6px; overflow: hidden; }
#contact input.reset-comment { cursor: pointer; float: right; height: 35px; margin: 0 5px 20px; text-indent: -9999px; width: 70px; }
#contact input.submit-comment { cursor: pointer; float: right; height: 35px; margin: 0 0 20px; text-indent: -9999px; width: 76px; }

/* FULL WIDTH
------------------------------------------------------- */
#full-width .entry-content { padding-right: 20px; }
#full-width #respond textarea { width: 96.5%; }

/* SITEMAP
------------------------------------------------------- */
#sitemap { margin: 0 0 20px; }
#sitemap .entry-title { margin-bottom: 5px; margin-top: 15px; }
#sitemap ul { padding: 0 0 25px; }
#sitemap ul li ul { padding: ; }

/* SEARCH
------------------------------------------------------- */
.search .hentry { margin: 24px 0 0 25px; }
.search .hentry .searchform input { margin: 0 0 10px; width: 588px; }

/* ATTACHMENTS
------------------------------------------------------- */
.attachment .hentry { padding: 0; }
.attachment-image { margin: 0 0 14px; }
.attachment .caption p { margin: 0; }
.attachment .description p { margin: 0; }
.attachment .download { margin: 5px 0 12px; padding: 10px 10px 15px; }
.attachment .attachment-icon { height: 20px; margin: 0 6px 0 0; position: relative; top: 6px; }

/* AUTHOR INFO
------------------------------------------------------- */
#author-info { margin: 20px 0 0 25px; padding: 14px 20px; }
#author-info .author-title { margin: 0 0 10px; }
#author-info .photo { float: left; margin: 5px 14px 0 0; }
#author-info #author-footer { margin: 14px 0 2px; }
#author-info .author-email a { display: block; float: left; height: 35px; margin: 0 10px 0 0; text-indent: -9999px; width: 64px; }
#author-info .author-website a { display: block; float: left; height: 35px; text-indent: -9999px; width: 84px; }

/* SIDEBAR
------------------------------------------------------- */
#sidebar { margin: 16px 0 20px; }

/* WIDGET AREAS
------------------------------------------------------- */
.widget-title { display: table; padding: 10px 14px; }

/* ABOUT WIDGET
------------------------------------------------------- */
.about .read-more a { display: block; height: 35px; margin: 10px 0 0; text-indent: -9999px; width: 108px; }

/* ADVERT WIDGET
------------------------------------------------------- */
.advertise-url a { display: block; height: 35px; margin: 10px auto; text-indent: -9999px; width: 106px; }
.adverts-240 .advertise-url a { display: block; height: 35px; margin: 0 auto 10px; text-indent: -9999px; width: 103px; }

/* FLICKR WIDGET
------------------------------------------------------- */
.flickr .photostream a { display: block; height: 35px; margin: 10px 0 0; text-indent: -9999px; width: 170px; }

/* SOCIAL LINK WIDGET
------------------------------------------------------- */
.profiles a, .profiles a:hover { text-decoration: none; }
.audiojungle-link, .delicious-link, .deviantart-link, .digg-link, .facebook-link, .flashden-link, .flickr-link, .graphicriver-link, .lastfm-link, .linkedin-link, .myspace-link, .themeforest-link, .twitter-link, .videohive-link, .vimeo-link, .virb-link, .youtube-link { cursor: pointer; margin: 0 0 5px; padding: 5px 35px 6px; }

/* TWITTER WIDGET
------------------------------------------------------- */
.twitter .follow a { display: block; height: 35px; margin: 10px 0 0; text-indent: -9999px; width: 84px; }

/* COMMENTS
------------------------------------------------------- */
#comments { margin: 20px 0 0 25px; }
#comments .comment { padding: 16px 16px 1px; }
#comments .comments-header { margin: 0 0 10px; padding: 0 0 10px; }
#comments .password-protected { margin: 10px 0 0; padding: 15px 0 15px 15px; }
#comments #comments-list ol { list-style: none; margin: 0; }
#comments #comments-list li { list-style: none; margin: 0 0 25px; padding: 16px 20px 5px; }
#comments li .avatar { float: left; margin: 4px 10px 10px 0; }
#comments .comment-author { font-size: 1.6em; margin: 0 0 0px; }
#comments .comment-meta { margin: 0 0 6px; overflow: hidden; }
#comments .comment-meta a { font-style: italic; }
#comments .comment-content { clear: both; }
#comments .comment-reply-button a { display: block; height: 35px; margin: 15px 0 20px; text-indent: -9999px; width: 70px; }

/* TRACKBACKS
------------------------------------------------------- */
#trackback-list { margin: 0 0 20px; }
#trackback-list li { margin: 0 0 10px; padding: 0 0 0px; }
#trackback-list .comment-content { left: -9999px; position: absolute; }

/* RESPOND
------------------------------------------------------- */
#respond { margin: 20px 0 45px; position: relative; }
#respond .comment-form-title { padding: 0 0 10px;}
#respond .required { font-weight: 700; }
#respond input.reset-comment { cursor: pointer; float: right; height: 36px; margin: 0 5px 20px; text-indent: -9999px; width: 70px; }
#respond input.submit-comment { cursor: pointer; float: right; height: 36px; margin: 0 0 20px; text-indent: -9999px; width: 78px; }
#respond #author, #respond #email, #respond #url { margin: 5px 0 16px; padding: 8px; width: 97%; }
#respond textarea { margin: 0 0 10px; overflow: auto; width: 97.6%; }
#cancel-comment-reply { position: absolute; right: 0; top: -8px; }
#cancel-comment-reply a { display: block; height: 35px; text-indent: -9999px; width: 78px; }

/* COMMENT PAGINATION
------------------------------------------------------- */
.paginated-comment-links { margin: 25px 0; }
.paginated-comment-links a, .paginated-comment-links .current { padding: 10px 12px; }
.paginated-comment-links a, .paginated-comment-links span { margin: 0 6px 0 0; }

/* FOOTER
------------------------------------------------------- */
#footer-wrapper .container { height: 32px; overflow: hidden; padding: 11px 15px 2px; position: relative; width: 930px; }
#footer-wrapper .scroll-to-top a { display: block; float: right; height: 24px; position: absolute; right: 10px; text-indent: -9999px; top: 11px; width: 38px; }

/* LISTS
------------------------------------------------------- */
#content ul, #sidebar ul, #subsidiary-wrapper ul { list-style: none; margin: 0; padding: 0; }
#content ol li, #sidebar ol li, #subsidiary-wrapper ol li { padding: 0; }
#content li, #sidebar li, #subsidiary-wrapper li { padding: 0 0 0 15px; }

/* SPONSORS
------------------------------------------------------- */
#footer-wrapper .sponsors {
padding: 11px 15px 2px; position: relative; width: 930px; background-color: #1D1D1F; margin: 0 auto;
}

#footer-wrapper .sponsors ul {
list-style-type: none;
margin: 10px 0 10px 0;
padding:0;
width: 740px;
}

#footer-wrapper .sponsors ul li {
display: inline;
margin-bottom: 20px;
}

#footer-wrapper .sponsors ul li a {
margin-right: 10px;
}