<footer class="footer footer--sponsors footer--sponsors__no-border">
    <div class="wrapper">
        <h2>Our Sponsors</h2>
        <p>We couldn't do it without you.</p>
        <section>
            <div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.shopify.com/" rel="nofollow" target="_blank">
                        <img src="{{ "shopify.jpg" | asset_url }}" alt="Shopify Logo" />
                    </a>
                </div>
            </div>
            <div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.siftware.com/" rel="nofollow" target="_blank">
                        <img src="{{ "siftware.jpg" | asset_url }}" alt="Siftware Logo" />
                    </a>
                </div>
            </div>
            <div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.heartinternet.uk" rel="nofollow">
                        <img src="{{ "heart-internet.jpg" | asset_url }}" alt="Heart Internet Logo" />
                    </a>
                </div>
            </div>
            <div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.greenfield-it.co.uk/" rel="nofollow">
                        <img src="{{ "greenfields.jpg" | asset_url }}" alt="Greenfield IT Logo" />
                    </a>
                </div>
            </div>
        </section>
    </div>
</footer>