{% block title %}Sponsors{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="hero general__hero hero--short">
    <div class="wrapper">
        <h1>Our sponsors</h1>
        <p class="subtitle subtitle__single"><span>They came from out of space&hellip;</span></p>
    </div>
    <div class="general__hero-monster-dude"></div>
</div>
<main class="page-content">
    <div class="wrapper">
        <div class="tickets__grid-row">
            <div class="tickets__primary-grid-unit">
                <div class="sponsors-tier">
                    <h2>Platinum</h2>
                    <div class="sponsors__grid-row">
                        <div class="sponsors__grid-unit sponsors__grid-unit--large">
                            <div class="sponsor sponsor--platinum">
                               <a href="#">
                                    <div class="sponsor__logo">
                                        <img src="http://placehold.it/400x200">
                                    </div>
                                </a>
                            </div>
                        </div>                
                    </div>
                </div>
                <div class="sponsors-tier">
                    <h2>Gold</h2>
                    <div class="sponsors__grid-row">
                        <div class="sponsors__grid-unit sponsors__grid-unit--med">
                            <div class="sponsor sponsor--platinum-plus">
                                <a href="http://www.heartinternet.uk" rel="nofollow" target="_blank">
                                    <div class="sponsor__logo">
                                       <img src="{{ "heart-internet.jpg" | asset_url }}" alt="Heart Internet Logo" />
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="sponsors__grid-unit sponsors__grid-unit--med">
                            <div class="sponsor sponsor--gold">
                                <a href="http://siftware.com/" rel="nofollow" target="_blank">
                                    <div class="sponsor__logo">
                                        <img src="{{ "siftware.jpg" | asset_url }}" alt="Siftware Logo" />
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="sponsors__grid-unit sponsors__grid-unit--med">
                            <div class="sponsor sponsor--platinum">
                                <a href="http://www.greenfield-it.co.uk/" rel="nofollow" target="_blank">
                                    <div class="sponsor__logo">
                                        <img src="{{ "greenfields.jpg" | asset_url }}" alt="Greenfield IT Recruitment Logo" />
                                    </div>
                                </a>
                            </div>
                        </div> 
                        <div class="sponsors__grid-unit sponsors__grid-unit--med">
                            <div class="sponsor sponsor--platinum">
                                <a href="http://www.shopify.com/" rel="nofollow" target="_blank">
                                    <div class="sponsor__logo">
                                        <img src="{{ "shopify.jpg" | asset_url }}" alt="Shopify Logo" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sponsors-tier">
                    <h2>Silver</h2>
                    <div class="sponsors__grid-row">
                        <div class="sponsors__grid-unit sponsors__grid-unit--small">
                            <div class="sponsor sponsor--silver">
                                <a href="#">
                                    <div class="sponsor__logo">
                                        <img src="http://placehold.it/400x200">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sponsors-tier">
                    <h2>Micro</h2>
                    <div class="micro-sponsors">
                        <ul>
                            <li><a href="http://kirstyburgoine.co.uk">Kirsty Burgoine Ltd</a></li>
                            <li><a href="http://bossanova.io/">Bossanova</a></li>
                            <li><a href="http://stinajones.co.uk/">Stina Jones Illustration</a></li>
                            <li><a href="http://thewebbakery.co.uk/">The Web Bakery (UK) Ltd</a></li>
                            <li><a href="http://www.greenjellymarketing.co.uk/">Green Jelly Marketing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tickets__secondary-grid-unit">
                <div class="sidebar">
                    <h2>Become a Sponsor</h2>
                    <p>(R)Evolution attracts web / mobile designers and developers actively working within the UK or involved with Startups from all over the country.</p>

                    <p>As a sponsor, you will have the opportunity to meet 200 digital people and tech evangelists in an under-represented region of the country.</p>

                    <a href="/assets/REvolution-Sponsorship-2015.pdf" class="button button--sponsorship">Download the sponsorship pack</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block close-wrapper %}
{% endblock %}
