{% block title %}Tickets{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="hero general__hero hero--short">
    <div class="wrapper">
        <h1>Tickets</h1>
        <p class="subtitle subtitle__single"><span>Get them while you still can!</span></p>
    </div>
    <div class="general__hero-monster-dude"></div>
</div>
<main class="page-content">
    <div class="wrapper">
        <div class="tickets__grid-row">
            <div class="tickets__primary-grid-unit">
                <div class="tickets-embed">
                    <iframe src="http://www.eventbrite.com/tickets-external?eid=16516045938&ref=etckt&v=2" frameborder="0" height="520" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                </div>
                <div class="tickets__terms">
                    <h2 id="terms">Terms of sale</h2>
                    <p>Tickets will be on general sale through Eventbrite from 10am on April 25th 2015.</p>

                    <p>A limited amount of earlybird tickets will be released first at the price of £75. Once these are sold out, standard tickets will go on sale at £99. Micro sponsor tickets will be available until all tickets are sold.</p>

                    <ul>
                        <li>Shropgeek is not VAT registered and therefore VAT is not applied to the ticket price.</li>
                        <li>Eventbrite fees will be added to the cost of the ticket at checkout.</li>
                        <li>Paypal fees will not be passed on to you.</li>
                    </ul>

                    <hr>

                    <h3>Micro Sponsors</h3>

                    <p>Micro sponsorship is intended to give individuals and very small companies the opportunity to show their support. Think of it as your chance to support and encourage a "serious" cake habit. The more micro sponsors we get, the more cake we can provide in the breaks! </p>

                    <hr>

                    <h3>Student Tickets</h3>

                    <p>Student tickets have been made available at the reduced price of £75. If you purchase a student ticket, you must produce valid student ID at registration when asked, otherwise you will be charged the full price of a standard ticket.</p>

                    <p>Student tickets do include entry to the after party.</p>
                </div>
            </div>
            <div class="tickets__secondary-grid-unit">
                <div class="sidebar">
                    <h2>FAQs</h2>
                    <p>For information on refunds, transfers and other important stuff see our <a href="/faqs#refunds">FAQs</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block close-wrapper %}
{% endblock %}
