{% block title %}Workshops{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="hero general__hero hero--short">
    <div class="wrapper">
        <h1>Workshops</h1>
        <p class="subtitle subtitle__single"><span>?????</span></p>
    </div>
    <div class="general__hero-monster-dude"></div>
</div>
<main class="page-content">
    <div class="wrapper">
        
    </div>
</main>
{% endblock %}
{% block close-wrapper %}
{% endblock %}
