{% block content %}
<div class="hero-container">


		<img src="assets/img/monster-dude.png" alt="monster-dude" class="monster-dude" />
		<img src="assets/img/monster-dude-ie.png" alt="monster-dude" class="monster-dude-ie" />

	
	<div class="faces">
	</div>


	<div class="header">

		<div class="wrapper">

			<div class="column column-3">
				<a href="http://www.shropgeek.co.uk" class="shropgeek-logo"><img src="assets/img/shropgeek-presents.svg" alt="ShropGeek Presents" /></a>
			</div>

			<div class="column column-3">
				<img class="revolution-logo" src="assets/img/2015-logo.svg" alt="(R)Evolution 2015" />
			</div>

			<div class="column column-3">
				<p class="date-time">Friday September 25th 2015 <br /><span class="venue">The Walker Theatre, Theatre Severn, Shrewsbury</span> <br /><span class="hashtag">#REVOLUTIONCONF</span></p>
			</div>


			<div class="seperator"></div>

		</div>

	</div>

	<div class="hero">

		<div class="wrapper">

			<h2 class="subtitle"><span class="bg">From the depths of </span> <br /><span class="bg">Shropshire...</span></h2>
			<h1 class="site-title"><span class="bg">A FULL DAY CONFERENCE</span> <br /><span class="bg">OF WEB & TECHNOLOGY</span> <br /><span class="bg">TALKS</span></h1>

			<a class="button buy-btn" href="http://www.eventbrite.co.uk/e/revolution-conference-2015-tickets-16516045938">Buy tickets</a>

		</div>

	</div>

		
	

	<div class="starring-container">

		<a id="starring-link" class="starring-link" href="#lineup">STARRING<br />⋁</a>
		<a class="button" href="http://www.eventbrite.co.uk/e/revolution-conference-2015-tickets-16516045938">Buy tickets</a>
	</div>

</div>



<div class="lineup">

	<div class="wrapper column-twothirds">

		<a id="lineup"></a>

		<div class="column-span">
			<p class="starring-text">STARRING</p>
		</div>

		<div class="column column-3">
			<p>Andy <span class="surname">Clarke</span></p>
			<p class="twitter"><a href="https://www.twitter.com/malarkey">@malarkey</a></p>
		</div>

		<div class="column column-3">
			<p>Emma <span class="surname">Mulqueeny</span></p>
			<p class="twitter"><a href="https://www.twitter.com/hubmum">@hubmum</a></p>
		</div>

		<div class="column column-3">
			<p>Sally <span class="surname">Jenkinson</span></p>
			<p class="twitter"><a href="https://www.twitter.com/sjenkinson">@sjenkinson</a></p>
		</div>



		<div class="column column-4">
			<p>Emma <span class="surname">Davis</span></p>
			<p class="twitter"><a href="https://www.twitter.com/thewebbakery">@thewebbakery</a></p>
		</div>

		<div class="column column-4">
			<p>Cole <span class="surname">Henley</span></p>
			<p class="twitter"><a href="https://www.twitter.com/cole007">@cole007</a></p>
		</div>


		<div class="column column-4">
			<p>Joe <span class="surname">Leech</span></p>
			<p class="twitter"><a href="https://www.twitter.com/mrjoe">@mrjoe</a></p>
		</div>

		<div class="column column-4">
			<p>Matt <span class="surname">Jukes</span></p>
			<p class="twitter"><a href="https://twitter.com/jukesie">@jukesie</a></p>
		</div>


		<div class="column-span">
			<p class="more">& More</p>
		</div>

		<div class="column-span">
			<p class="technicolor">IN BEAUTIFUL TECHNICOLOR!</p>

		</div>

	</div>

</div>

<div class="footer">

	<div class="wrapper column-onehalf">

		<p>Earlybird Tickets <br />
		 Available Now: £75</p>

		<a class="button" href="http://www.eventbrite.co.uk/e/revolution-conference-2015-tickets-16516045938">Buy Tickets</a>

		<div class="seperator"></div>
	</div>

</div>

<div class="sponsors">

	<div class="wrapper column-onehalf">

		<div class="column-span">
			<p class="starring-text">OUR SPONSORS</p>
		</div>

		<div class="column column-2">
			<a href="http://www.shopify.co.uk/" rel="nofollow"><img src="assets/img/shopify.jpg" alt="" /></a>
		</div>

		<div class="column column-2">
			<a href="https://siftware.com/" rel="nofollow"><img src="assets/img/siftware.jpg" alt="" /></a>
		</div>


	</div>

</div>


<div class="credits">
	<div class="wrapper">
		<p>(R)Evolution is a <a href="http://www.shropgeek.co.uk/">ShropGeek</a> Production. Tweet us at <a href="https://twitter.com/shropgeek">@shropgeek</a>.<br /><strong>FULL WEBSITE COMING SOON</strong>. <br />Page designed by <a href="http://bossanova.io/">Bossonova</a> with illustrations from <a href="http://stinajones.co.uk/">Stina Jones</a> and built by <a href="http://kirstyburgoine.co.uk/">Kirsty Burgoine</a>.</p>
	</div>
</div>


{% endblock %}
