/* BODY
------------------------------------------------------- */
body { color: #fff; 
/* background: #252728 url(../images/illustration-3.jpg) no-repeat center; */
background: #000 url(../images/illustration-3-new.jpg) no-repeat top center fixed;
}

/* LAYOUT
------------------------------------------------------- */
#wrapper { background: #1D1D1F; }

/* HYPERLINKS
------------------------------------------------------- */
a:link, a:visited { color: #39b54a; text-decoration: none; }
a:active, a:hover { color: #39b54a; text-decoration: underline; }
code a:hover { text-decoration: none; }

/* HEADER
------------------------------------------------------- */
/* #header #site-title a { color: #C8BFAD; } */
#header #site-title a { color: #fff; }
#header #site-description { color: #999; }
#header #site-feed a { background: url(../images/twitter-large.png) no-repeat; }
#header #site-email a { background: url(../images/email.png) no-repeat; }

/* PAGE NAVIGATION
------------------------------------------------------- */
#page-menu { background: url(grey/menu-bg.png) repeat-x; }
.menu { border: 1px solid #1D1D1E; border-width: 0 1px 1px 0; float: left; }
.menu a { background: #282A2B; border: 1px solid #1D1D1E; border-width: 1px 0 0 1px; text-decoration: none; }
.menu .current_page_item a, .menu .current_page_item a:hover, .menu .current_page_ancestor a, .menu .current_page_parent a { background: #343637; border: 1px solid #1D1D1E; border-width: 1px 0 0 1px; color: #FFF !important; text-decoration: none; }
.menu a, .menu a:visited  { color: #39b54a; }
.menu li:hover, .menu li.sfHover, .menu a:focus, .menu a:hover, .menu a:active { background: #343637; color: #fff; }
.menu ul { border: 1px solid #1D1D1E; border-width: 0 1px 1px 0; }
.menu ul a { background: #282A2B; }
.menu ul a:hover { color: #39b54a; }

/* PORTFOLIO POSTS
------------------------------------------------------- */
#portfolio-wrapper { background: #212223; color: #fff; height: 520px; overflow: hidden; }
/* #portfolio-wrapper .entry-title a { color: #C8BFAD; } */
#portfolio-wrapper .entry-title a { color: #fff; }
#portfolio-wrapper .next-button { background: url(grey/next.png) no-repeat; }
#portfolio-wrapper .next-button:hover { background: url(grey/next.png) no-repeat 0 -36px; }
#portfolio-wrapper .view-portfolio  { background: url(grey/view-portfolio.png) no-repeat; }
#portfolio-wrapper .view-portfolio:hover { background: url(grey/view-portfolio.png) no-repeat 0 -36px; }

#portfolio-wrapper .find-out-more, .textwidget .find-out-more { background: url(grey/find-out-more.png) no-repeat; }
#portfolio-wrapper .find-out-more:hover, .textwidget .find-out-more:hover { background: url(grey/find-out-more.png) no-repeat 0 -36px; }


#portfolio-wrapper .previous-button { background: url(grey/back.png) no-repeat; }
#portfolio-wrapper .previous-button:hover { background: url(grey/back.png) no-repeat 0 -36px; }
.ie6 #portfolio-wrapper .next-button:hover { background-position: 0 -35px; }
.ie6 #portfolio-wrapper .view-portfolio:hover { background-position: 0 -35px; }
.ie6 #portfolio-wrapper .previous-button:hover { background-position: 0 -35px; }

#content .view-portfolio, #sidebar .view-portfolio { background: url(grey/view-portfolio.png) no-repeat; }
#content .view-portfolio:hover, #sidebar .view-portfolio:hover { background: url(grey/view-portfolio.png) no-repeat 0 -36px; }
#blog-category-link a { display: block; float: right; height: 35px; margin: 20px 0 20px; text-indent: -9999px; width: 215px; }
#content .view-portfolio:hover, , #sidebar .view-portfolio:hover { background: url(grey/view-portfolio.png) no-repeat 0 -36px; }


.buy-now { background: url(grey/buy-now.png) no-repeat; }
a.buy-now { display: block; float: right; height: 35px; margin: 20px 0 20px; text-indent: -9999px; width: 77px; }
.buy-now:hover { background: url(grey/buy-now.png) no-repeat 0 -36px; }

/* GLOBAL BLOG POSTS
------------------------------------------------------- */
.hentry { border-bottom: 1px solid #282A2B; color: #fff; }
.hentry .entry-title { color: #fff; }
/* .hentry .entry-title a { color: #C8BFAD; } */
.hentry .entry-title a { color: #fff; }

.hentry .byline { background: #282A2B; }
.hentry .byline a { color: #39b54a; }
.hentry .byline abbr { border: 0; }
.hentry .page-link-title { background: #242424; border: 1px solid #282A2B; color: #999; }
.hentry .page-link a { background: #242424; border: 1px solid #282A2B; }
.hentry .page-link a:active, .hentry .page-link a:hover { background: #242424; border: 1px solid #282A2B; text-decoration: none; }
.hentry #post-details .post-date { border-right: 1px solid #CCC; }
.hentry #post-details .preview-link { border-right: 1px solid #CCC; }

/* HOME BLOG POSTS
------------------------------------------------------- */
#blog-category-link a { background: url(grey/view-portfolio.png) no-repeat; }
#blog-category-link a:hover { background: url(grey/view-portfolio.png) no-repeat 0 -36px; }
.ie6 #blog-category-link a:hover { background-position: 0 -35px; }

/* STICKY BLOG POST
------------------------------------------------------- */
.sticky { background: #212223; border: 1px solid #282A2B; }
.sticky .page-link-title { background: #242424; border: 1px solid #282A2B; color: #999; }
.sticky .page-link a { background: #242424; border: 1px solid #282A2B; text-decoration: none; }
.sticky .page-link a:active, .sticky .page-link a:hover { background: #242424; border: 1px solid #333; }

/* SINGLE BLOG POST
------------------------------------------------------- */
.single .entry-title { color: #fff; border-bottom: 1px solid #282A2B; }
.single .entry-meta { border-top: 1px solid #282A2B; }
.single #post-details { border-bottom: 1px solid #282A2B; }

/* BLOG NAVIGATION
------------------------------------------------------- */
.nav-newer a { background: url(grey/newer.png) no-repeat; }
.nav-newer a:hover { background: url(grey/newer.png) no-repeat 0 -36px; }
.ie6 .nav-newer a:hover { background-position: 0 -35px; }

.nav-previous a { background: url(grey/older.png) no-repeat; }
.nav-previous a:hover { background: url(grey/older.png) no-repeat 0 -36px; }
.ie6 .nav-previous a:hover { background-position: 0 -35px; }

/* SOCIAL BOOKMARKS
------------------------------------------------------- */
#social-wrapper { border-bottom: 1px solid #282A2B; color: #C8BFAD; }
#social-wrapper .blinklist { background: url(../images/bookmarks/blinklist.png) no-repeat; }
#social-wrapper .delicious { background: url(../images/bookmarks/delicious.png) no-repeat; }
#social-wrapper .digg { background: url(../images/bookmarks/digg.png) no-repeat; }
#social-wrapper .facebook { background: url(../images/bookmarks/facebook.png) no-repeat; }
#social-wrapper .google { background: url(../images/bookmarks/google.png) no-repeat; }
#social-wrapper .reddit { background: url(../images/bookmarks/reddit.png) no-repeat; }
#social-wrapper .rss { background: url(../images/bookmarks/rss.png) no-repeat; }
#social-wrapper .stumbleupon { background: url(../images/bookmarks/stumbleupon.png) no-repeat; }
#social-wrapper .technorati { background: url(../images/bookmarks/technorati.png) no-repeat; }
#social-wrapper .twitter { background: url(../images/bookmarks/twitter.png) no-repeat; }

/* RELATED POSTS
------------------------------------------------------- */
#related-wrapper .related-title { border-bottom: 1px solid #282A2B; color: #C8BFAD; }

/* POPULAR POSTS
------------------------------------------------------- */
#popular-wrapper .popular-title { border-bottom: 1px solid #282A2B; color: #C8BFAD; }

/* PAGES
------------------------------------------------------- */
.page .hentry { border: 0; }
/* .page-title { border-bottom: 1px solid #282A2B; color: #C8BFAD; } */
.page-title { border-bottom: 1px solid #282A2B; color: #fff; }
.page-title .subscribe a { background: url(../images/rss-alt.png) no-repeat; }
.page .edit-page-link a { background: url(grey/edit.png) no-repeat; }
.page .edit-page-link a:hover { background: url(grey/edit.png) no-repeat 0 -36px; }
.ie6 .page .edit-page-link a:hover { background-position: 0 -35px; }
.search-no-results .hentry { border: 0; }

/* CONTACT PAGE
------------------------------------------------------- */
#contact input.reset-comment { background: url(grey/reset.png) no-repeat; border: 0; }
#contact input.reset-comment:hover { background: url(grey/reset.png) no-repeat 0 -36px; border: 0; }
#contact input.submit-comment { background: url(grey/submit.png) no-repeat; border: 0; }
#contact input.submit-comment:hover { background: url(grey/submit.png) no-repeat 0 -36px; border: 0; }
.ie6 #contact input.reset-comment:hover { background-position: 0 -35px; }
.ie6 #contact input.submit-comment:hover { background-position: 0 -35px; }

/* ATTACHMENTS
------------------------------------------------------- */
.attachment .download { background: #EEE; border: 1px solid #282A2B; }

/* AUTHOR INFO
------------------------------------------------------- */
#author-info { background: #212223; border: 1px solid #282A2B; }
#author-info .author-email a { background: url(grey/email.png) no-repeat; }
#author-info .author-email a:hover { background: url(grey/email.png) no-repeat 0 -36px; }
#author-info .author-website a { background: url(grey/website.png) no-repeat; }
#author-info .author-website a:hover { background: url(grey/website.png) no-repeat 0 -36px; }
.ie6 #author-info .author-website a:hover { background-position: 0 -35px; }
.ie6 #author-info .author-email a:hover { background-position: 0 -35px; }

/* IMAGES
------------------------------------------------------- */
.wp-caption { background: #242424; border: 1px solid #282A2B; }
.wp-caption img { border: 0 solid #000; }

/* WIDGET AREAS
------------------------------------------------------- */
.widget-title { background: #212223 url(../images/widget-title.jpg); color: #fff; display: block; }
.subsidiary { background: #1D1D1F; border: 1px solid #212223; }
.subsidiary .widget { background: transparent; border: 0; padding-left: 0; padding-right: 0; }

h2.widget-title { background: #212223; color: #C8BFAD; display:block; }

/* ABOUT WIDGET
------------------------------------------------------- */
.about .read-more a { background: url(grey/read-more.png) no-repeat; }
.about .read-more a:hover { background: url(grey/read-more.png) no-repeat 0 -36px; }
.ie6 .about .read-more a:hover { background-position: 0 -35px; }

/* ADVERT WIDGET
------------------------------------------------------- */
.advertise-url a { background: url(grey/advertise.png) no-repeat; }
.advertise-url a:hover { background: url(grey/advertise.png) no-repeat 0 -36px; }
.ie6 .advertise-url a:hover { background-position: 0 -35px; }

/* CALENDAR WIDGET
------------------------------------------------------- */
#wp-calendar { border: 1px solid #212223; border-width: 1px 1px 1px 0; }
#wp-calendar caption { color: #C8BFAD; }
#wp-calendar th, #wp-calendar td { background: #1D1D1F; }
#wp-calendar thead tr th { border: 1px solid #212223; border-width: 0 0 0 1px; }
#wp-calendar td { background: transparent; border: 1px solid #212223; border-width: 1px 0 0 1px; }

/* FLICKR WIDGET
------------------------------------------------------- */
.flickr .photostream a { background: url(grey/photostream.png) no-repeat; }
.flickr .photostream a:hover { background: url(grey/photostream.png) no-repeat 0 -36px; }
.ie6 .flickr .photostream a:hover { background-position: 0 -35px; }

/* SOCIAL LINK WIDGET
------------------------------------------------------- */
.audiojungle-link { background: #212223 url(../images/audiojungle.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.delicious-link { background: #212223 url(../images/delicious.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.deviantart-link { background: #212223 url(../images/deviantart.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.digg-link { background: #212223 url(../images/digg.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.facebook-link { background: #212223 url(../images/facebook.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.flashden-link { background: #212223 url(../images/flashden.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.flickr-link { background: #212223 url(../images/flickr.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.graphicriver-link { background: #212223 url(../images/graphicriver.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.lastfm-link { background: #212223 url(../images/lastfm.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.linkedin-link { background: #212223 url(../images/linkedin.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.myspace-link { background: #212223 url(../images/myspace.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.themeforest-link { background: #212223 url(../images/themeforest.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.twitter-link { background: #212223 url(../images/twitter.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.videohive-link { background: #212223 url(../images/videohive.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.vimeo-link { background: #212223 url(../images/vimeo.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.virb-link { background: #212223 url(../images/virb.png) no-repeat 8px 8px; border: 1px solid #282A2B; }
.youtube-link { background: #212223 url(../images/youtube.png) no-repeat 8px 8px; border: 1px solid #282A2B; }

/* TWITTER WIDGET
------------------------------------------------------- */
.twitter .follow a { background: url(grey/follow.png) no-repeat; }
.twitter .follow a:hover { background: url(grey/follow.png) no-repeat 0 -36px; }
.ie6 .twitter .follow a:hover { background-position: 0 -35px; }

/* COMMENTS
------------------------------------------------------- */
#comments .comments-header { border-bottom: 1px solid #282A2B; color: #C8BFAD; }
#comments .password-protected { background: #EEE; border: 1px solid #282A2B; }

/* ROLE: ADMINISTRATOR COMMENT
------------------------------------------------------- */
#comments-list .administrator { background: #111; border: 1px solid #282A2B; }
#comments-list .administrator ul.children li.depth-2 { background: #111; border: 1px solid #282A2B; }
#comments-list .administrator ul.children li.depth-3 { background: #111; border: 1px solid #282A2B; }
#comments-list .administrator ul.children li.depth-4 { background: #111; border: 1px solid #282A2B; }
#comments-list .administrator ul.children li.depth-5 { background: #111; border: 1px solid #282A2B; }

/* ROLE: AUTHOR COMMENT
------------------------------------------------------- */
#comments-list .author { background: #212223; border: 1px solid #282A2B; }
#comments-list .author ul.children li.depth-2 { background: #212223; border: 1px solid #282A2B; }
#comments-list .author ul.children li.depth-3 { background: #212223; border: 1px solid #282A2B; }
#comments-list .author ul.children li.depth-4 { background: #212223; border: 1px solid #282A2B; }
#comments-list .author ul.children li.depth-5 { background: #212223; border: 1px solid #282A2B; }

/* ENTRY AUTHOR COMMENT
------------------------------------------------------- */
#comments-list .entry-author { background: #161616; border: 1px solid #222; }
#comments-list .entry-author ul.children li.depth-2 { background: #161616; border: 1px solid #222; }
#comments-list .entry-author ul.children li.depth-3 { background: #161616; border: 1px solid #222; }
#comments-list .entry-author ul.children li.depth-4 { background: #161616; border: 1px solid #222; }
#comments-list .entry-author ul.children li.depth-5 { background: #161616; border: 1px solid #222; }

/* READER COMMENT
------------------------------------------------------- */
#comments-list .reader { background: #222; border: 1px solid #282A2B; }
#comments-list .reader ul.children li.depth-2 { background: #222; border: 1px solid #282A2B; }
#comments-list .reader ul.children li.depth-3 { background: #222; border: 1px solid #282A2B; }
#comments-list .reader ul.children li.depth-4 { background: #222; border: 1px solid #282A2B; }
#comments-list .reader ul.children li.depth-5 { background: #222; border: 1px solid #282A2B; }

/* COMMENT META
------------------------------------------------------- */
#comments .comment-meta { color: #999; }
#comments .comment-reply-button a { background: url(grey/reply.png) no-repeat; }
#comments .comment-reply-button a:hover { background: url(grey/reply.png) no-repeat 0 -36px; }
.ie6 #comments .comment-reply-button a:hover { background-position: 0 -35px; }

/* TRACKBACKS
------------------------------------------------------- */
#trackback-list li { border: 0; }

/* RESPOND
------------------------------------------------------- */
#respond .form-label { color: #C8BFAD; }
#respond .comment-form-title { border-bottom: 1px solid #282A2B; color: #C8BFAD; }
#respond input.reset-comment { background: url(grey/reset.png) no-repeat; border: 0; }
#respond input.reset-comment:hover { background: url(grey/reset.png) no-repeat 0 -36px; border: 0; }
#respond input.submit-comment { background: url(grey/submit.png) no-repeat; border: 0; }
#respond input.submit-comment:hover { background: url(grey/submit.png) no-repeat 0 -36px; border: 0; }
#cancel-comment-reply a { background: url(grey/cancel.png) no-repeat; }
#cancel-comment-reply a:hover { background: url(grey/cancel.png) no-repeat 0 -36px; }
.ie6 #cancel-comment-reply a:hover { background-position: 0 -35px; }

/* COMMENT PAGINATION
------------------------------------------------------- */
.paginated-comment-links a { border: 1px solid #282A2B; text-decoration: none; }
.paginated-comment-links .current { background: #242424; border: 1px solid #282A2B; }
.paginated-comment-links a:active, .paginated-comment-links a:hover { text-decoration: none; }

/* FOOTER
------------------------------------------------------- */
#footer-wrapper .container { background: url(grey/footer-bg.png) repeat-x; }
#footer-wrapper .scroll-to-top a { background: url(grey/top.png) no-repeat; }

/* LISTS
------------------------------------------------------- */
#content ul li, #sidebar ul li, #subsidiary-wrapper ul li { background: url(../images/bullet_green.png) no-repeat 0 7px; margin-bottom: 10px; }

/* TEXT ELEMENTS
------------------------------------------------------- */
pre { border: 1px solid #DDD; }
fieldset { border: 1px solid #282A2B; }
var, kbd, samp, code, pre { background: #242424; border: 1px solid #282A2B; }
blockquote { border-left: 1px solid #282A2B; color: #666; }
abbr[title], acronym[title], dfn[title] { border-bottom: 1px dotted #282A2B; }
dl dt { border: 1px solid #282A2B; border-width: 1px 1px 0 1px; }
dl dd { border: 1px solid #282A2B; }
hr { border: 1px solid; border-color: #242424 #111 #111 #111; }

/* BUTTON ELEMENTS
------------------------------------------------------- */
button { background: #212223; border: 1px solid #282A2B; color: #999; }
button:hover { background: #212223; border: 1px solid #282A2B; color: #999; }

/* INPUT ELEMENTS
------------------------------------------------------- */
input { background: #212223; border: 1px solid #282A2B; color: #999; }
input:focus, input:hover { background: #212223; border: 1px solid #282A2B; color: #999; }

/* TEXTAREA
------------------------------------------------------- */
textarea { background: #212223; border: 1px solid #282A2B; color: #999; }
textarea:focus { background: #212223; border: 1px solid #282A2B; color: #999; }

/* TABLE ELEMENTS
------------------------------------------------------- */
table { border: 1px solid #282A2B; border-width: 1px 1px 0 0; }
table tr th { background: #212223; border: 1px solid #282A2B; border-width: 0 0 1px 1px; }
table td { border: 1px solid #282A2B; border-width: 0 0 1px 1px; }

/* SPECIAL CLASSES
------------------------------------------------------- */
.required { color: #FF4B33; }
.alert { background: #FFFBBC; border: 1px solid #FFF; color: #000; }
.download { background: #7AC2D6; border: 1px solid #FFF; color: #000; }
.error { background: #FFEBE8; border: 1px solid #C00; color: #000; }
.note { background: #DDD; border: 1px solid #FFF; color: #000; }
.warning { background: #FFFBBC; border: 1px solid #E6DB55; color: #000; }
//h1, h2, h3, h4, h5, h6 { color: #C8BFAD; }
h1, h2, h3, h4, h5, h6 { color: #fff; }

/* WP PAGENAVI
------------------------------------------------------- */
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active { border: 1px solid #282A2B; }
.wp-pagenavi .current { background: #242424; border: 1px solid #282A2B; }
.wp-pagenavi a:hover { border: 1px solid #282A2B; }

.textwidget p {
padding: 0 15px;
}

#content h2 {
font-size: 2.8em;
}

.bold {
color: #fff;
font-size: 18px;
}

#social-bookmarks {
float: left;
clear: left;
}