$museo: "museo-sans", Helvetica, Arial, sans-serif;
$futura: "futura-pt-condensed", "Arial Narrow", sans-serif;
$open: "open-sans", Helvetica, Arial, sans-serif;

$colour_gold: #e7b42b;
$colour_white: #fff;
$colour_green: #98bb6d;
$swirl_base: #80a261;

$colour_background: #fff;
$header_background: #2a2a2a;
$starring_background: rgba(107,152,80,0.90);

$hero_text: #333234;
$hero_links: #527f3a; // Used on button only as different shade of green

$standard_text: #4a4a4a;
$line_colour: #c6c6c6;

$giant-screen: 87.5em;
$large-screen: 64em;
//$large-medium-screen: 56.25em;
$medium-large-screen: 56.25em; //900
$medium-screen: 40em; //640
$small-screen: 33.75em; //540
$xs-small-screen: 23em;